div{
	display: block;
}
li{
	line-height: 20px;
}
a{
	cursor: pointer;
	background-color: transparent;
	text-decoration: none;
}
*, :after, :before {
    box-sizing: border-box;
}
input::-webkit-input-placeholder,textarea::-webkit-input-placeholder {
    color: #a0a0a0
}

input:-moz-placeholder,input::-moz-placeholder,textarea:-moz-placeholder,textarea::-moz-placeholder {
    color: #a0a0a0
}

input:-ms-input-placeholder,textarea:-ms-input-placeholder {
    color: #a0a0a0
}
/*导航条css*/
.navbar{
	position: fixed;
    right: 0;
    left: 0;
    margin-bottom: 20px;
    z-index: 1030;
	height: 56px;
	top: 0;
	min-height: 50px;
    border: 1px solid transparent;
    border-width: 0 0 1px;
	background-color: #fff;
    border-color: #f0f0f0;
}
.navbar:after {
    clear: both;
}
.navbar:after, .navbar:before {
    content: " ";
    display: table;
}
.width-limit{
	margin: 0 auto;
}
.width-limit .logo{
	float: left;
    height: 56px;
    padding: 14px 25px 15px 20px;
}
.width-limit .write-btn{
	float: right;
	display: inline-block;
    width: 100px;
    height: 38px;
    line-height: 23px;
    margin: 9px 15px 0;
    border-radius: 4px;
    font-size: 15px;
    color: #fff;
    background-color: #ea6f5a;
    font-weight: 400;
    font-family:-apple-system,"Microsoft YaHei",sans-serif;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    user-select: none;
}
.width-limit a.write-btn:hover{
	background-color: #ec6149;
}
@font-face {
  font-family: iconfont;
  src:  url('../fonts/icomoon.eot?ibrajf');
  src:  url('../fonts/icomoon.eot?ibrajf#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?ibrajf') format('truetype'),
    url('../fonts/icomoon.woff?ibrajf') format('woff'),
    url('../fonts/icomoon.svg?ibrajf#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
.iconfont {
    font-family: iconfont!important;
    font-size: inherit;
    font-style: normal;
    font-weight: 400!important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.width-limit .ic-write{
	margin-right: 3px;
    font-size: 19px;
    vertical-align: middle;
}
.ic-write:before {
    content: "\e907";
}

.width-limit .user{
	float: right;
    height: 100%;
}
.width-limit .user .avatar{
	width: 40px;
    height: 40px;
    margin: 8px 20px;
    display: block;
    cursor: pointer;
}
.avatar img{
	width: 100%;
    height: 100%;
    border: 1px solid #ddd;
    border-radius: 50%;
    vertical-align: middle;
}
.width-limit .user:hover{
	background-color: #f5f5f5;
}
.width-limit .dropdown-menu{
	position: absolute;
	float: left;
	left: auto;
	min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    margin-top: 0;
    top: 100%;
    z-index: 1000;
    display: none;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: #fff;
    border-radius: 0 0 4px 4px;
    border-color: transparent;
    border: 1px solid rgba(0,0,0,.15);
    box-shadow: 0 2px 8px rgba(0,0,0,.1);
    background-clip: padding-box;
    filter: drop-shadow(0 2px 8px rgba(0,0,0,.1));
    -webkit-filter: drop-shadow(0 2px 8px rgba(0,0,0,.1));
}
.width-limit .dropdown-menu li{
	line-height: 20px;
}
.width-limit .dropdown-menu li:hover{
	background-color: #f5f5f5;
}
.width-limit .dropdown-menu a{
	padding: 10px 20px;
    line-height: 30px;
}
.dropdown-menu>li>a{
	display: block;
    clear: both;
    font-weight: 400;
    color: #333;
    white-space: nowrap;
}
.width-limit .dropdown-menu i {
	margin-right: 15px;
    font-size: 18px;
    color: #ea6f5a;
    vertical-align: middle;
}
.ic-profile:before {
	content:"\e90d";
}
.ic-exit:before {
	content:"\e90e";
}
.width-limit .signup{
	float: right;
    width: 80px;
    height: 38px;
    line-height: 23px;
    margin: 9px 5px 0 15px;
    border: 1px solid rgba(236,97,73,.7);
    border-radius: 4px;
    font-size: 15px;
    color: #ea6f5a;
    background-color: transparent;
    display: inline-block;
    font-weight: 400;
    font-family:"Microsoft YaHei",sans-serif;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    white-space: nowrap;
    padding: 6px 12px;
    user-select: none;
}
.width-limit a.signup:hover{
	background-color: rgba(236,97,73,.05);
}

.width-limit .signin{
	float: right;
    margin: 11px 6px 0 10px;
    font-size: 15px;
    display: inline-block;
    font-weight: 400;
    font-family:"Microsoft YaHei",sans-serif;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    user-select: none;
    color: #969696;
}
@media (min-width: 992px){
	.width-limit .navbar-container{
		width: 960px;
	}
}
@media (min-width: 768px) and (max-width: 991px){
	.width-limit .navbar-container{
		width: 750px;
	}
}
.width-limit .navbar-container{
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
}
.width-limit .navbar-container:after, .width-limit .navbar-container:before {
    content: "";
    display: table;
}
.width-limit .navbar-container:after {
    clear: both;
}
@media (min-width: 992px){
	.navbar-container .navbar-nav{
		float: left;
		margin: 0;
	}
	.navbar-container .navbar-nav{
		padding-left: 0;
    	list-style: none;
	}
	.navbar-container .navbar-nav:after {
    	clear: both;
	}
	.navbar-container .navbar-nav:after, .navbar-container .navbar-nav:before {
    	content: " ";
    	display: table;
	}
	ul.navbar-nav li{
		position: relative;
		display: block;
		float: left;
		margin-right: 10px;
	}
	.navbar-nav a{
		position: relative;
		display: block;
		height: 56px;
    	line-height: 26px;
   		padding: 15px;
		color: #ea6f5a;
    	background: none;
	}
	.navbar-nav li span{
		position: relative;
		display: block;
		height: 56px;
    	line-height: 26px;
   		padding: 15px;
		color: #333;
    	background: none;
    	user-select: none;
    	cursor: default;
	}
	.search{
		padding-left: 20px;
	}
	.search form{
		position: relative;
		top: 9px;
		margin: 0 0 20px;
	}
	.search .search-input{
		padding: 0 40px 0 20px;
	    width: 160px;
	    height: 38px;
	    font-size: 14px;
	    border: 1px solid #eee;
	    border-radius: 40px;
	    background: #eee;
	    transition: width .5s;
	    -moz-transition: width .5s;
	    -webkit-transition: width .5s;
	    -o-transition: width .5s;
	}
	.search .search-btn{
		position: absolute;
	    top: 4px;
	    right: 5px;
	    width: 30px;
	    height: 30px!important;
	    line-height: normal!important;
	    padding: 0!important;
	    color: #969696!important;
	    text-align: center;
	}
	.search .search-input:focus {
    	width: 240px;
    	outline: none;
	}
	.search .search-btn .ic-search{
		margin: 5px -1px 0 0;
    	display: block;
	}
	.search .search-btn .ic-search:before{
	content: "\e986";
	}

}

/*首页文章css*/
@media (min-width: 992px){
	.index{
		width: 960px;
	}
}
@media (min-width: 768px) and (max-width: 991px){
	.index{
		width: 750px;
	}
}

.index{
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
}
.index:after, .index:before {
    content: "";
    display: table;
}
.index:after {
    clear: both;
}
.row{
	margin-left: -15px;
	margin-right: -15px;
}
.row:after, .row:before {
    content: "";
    display: table;
}
.row:after {
    clear: both;
}
.row .slide{
	margin-left: 15px;
	border-radius: 0 0 6px 6px;
	overflow: hidden;
	z-index: 1000;
	height: 272px;
}
.row .main{
	position: relative;
	float: left;
	padding-left: 15px;
	padding-top: 40px;
	padding-right: 0;
	width: 66.66667%;
}
.row .aside{
	position: relative;
	float: left;
	padding: 40px 0 0;
	margin-left: 4.16667%;
	width: 29.16667%;
}
.side-tool{
	position: fixed;
	bottom: 40px;
	right: 40px;
	z-index: 9;
	display: none;
}
.footer{
	padding-top: 25px;
	font-size: 12px;
    line-height: 21px;
    text-align: center;
    color: #808080;
}
@media (max-width: 414px){
	.footer {
    	padding-bottom: 60px;
    	line-height: 42px;
	}
	.footer
	:not(.footer-mobile-show){
		display: none;
	}
}
@media (min-width :415px) and (max-width: 768px){
	.footer{
		font-size:12px;
		line-height:21px;
		text-align:center
	}
	.footer
	:not(.footer-mobile-show){
		display: none;
	}
}
.footer .dot{
	margin: 0px 3px;
}
.split-line{
	margin: -5px 0 15px;
    border-top: 1px solid #f0f0f0;
}
.note-list{
	margin: 0;
	padding: 0;
	list-style: none;
}
.note-list li{
	position: relative;
    width: 100%;
    margin: 0 0 17px;
    padding: 0 2px 17px 0;
    border-bottom: 1px solid #f0f0f0;
    word-wrap: break-word;
}
.note-list .have-img{
	min-height: 140px;
}
.note-list .have-img .wrap-img{
	position: absolute;
    top: 50%;
    margin-top: -68px;
    right: 0;
    width: 150px;
    height: 120px;
}
.note-list .have-img>div{
	padding-right: 160px;
}
.note-content .author{
	margin-bottom: 14px;
	font-size: 13px;
}
.note-list .have-img .wrap-img img{
	border-radius: 4px;
    border: 1px solid #f0f0f0;
}
.note-content a.title:hover{
	text-decoration: underline;
}
.note-content .title{
	margin: -7px 0 4px;
    display: inherit;
    font-family:Arial,"Microsoft YaHei",sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.5;
    color: #333;
}
.note-content .abstract{
	margin: 0 0 8px;
    font-size: 13px;
    line-height: 24px;
}
.note-content .meta{
	padding-right: 0!important;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
}
.load-more{
	width: 100%;
    height: 40px;
    margin: 30px auto 60px;
    padding: 10px 15px;
    text-align: center;
    font-size: 15px;
    border-radius: 4px;
    color: #fff;
    background-color: #a5a5a5;
    display: none;
}
a.load-more:hover{
	background-color: #969696;
}
.load-none{
	width: 100%;
	height: 40px;
	margin: 30px auto 60px;
	text-align: center;
    font-size: 15px;
    border-radius: 4px;
    color: #808080;
    background-color: #fff;
    display: none;
}

.back-top{
	margin-bottom: 10px;
	width: 50px;
    height: 50px;
    text-align: center;
    display: block;
    border: 1px solid #dcdcdc;
}
.ic-backtop{
	padding-top: 14px;
    font-size: 20px;
    display: block;
}
.ic-backtop:before{
	content:"\e906";
}
.aside .title{
	float: left;
    margin-bottom: 10px;
    font-size: 14px;
    color: #969696;
    display: block;
}
.aside .decription{
	position: relative;
    margin-bottom: 20px;
    padding: 0 0 16px;
    text-align: left;
    font-size: 14px;
    border-bottom: 1px solid #f0f0f0;
    clear: both;
    word-break: break-word;
}