*{
	padding: 0;
	margin: 0;
	list-style: none;
	text-decoration: none;
}
html,body{
	height: 100%;
	width: 100%;
	font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
	font-size: 15px;
	line-height: 1.7;
}
div{
	display: block;
}
h1{
	display: block;
    font-size: 2em;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}
h2 {
    display: block;
    font-size: 1.5em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}
input:focus{
	outline: none;
}


.footer{
	font-size: 12px;
    line-height: 21px;
    text-align: center;
    color: #808080;
}
@media (max-width: 740px){
	.footer {
    	padding-bottom: 60px;
    	line-height: 42px;
	}
	.footer
	:not(.footer-mobile-show){
		display: none;
	}
}
@media (min-width :741px) and (max-height:600px){
	.footer{
		font-size:12px;
		line-height:21px;
		text-align:center
	}
	.footer
	:not(.footer-mobile-show){
		display: none;
	}
}
.footer .dot{
	margin: 0px 3px;
}
.lr-main{
	min-height: 100%;
    margin-bottom: -42px;
}
@media (max-width: 740px){
	.lr-main{
		margin-bottom:-102px
	}
}
.lr-main-body{
	margin:auto;
	padding:30px 0 102px;
	width:300px
}
@media (min-width :741px){
	.lr-main{
		text-align:center;
		white-space:nowrap;
		height:100%;
		min-height:720px;
	}
	.lr-main:before{
		content:'';
		display:inline-block;
		height:100%;
		vertical-align:middle;
		margin-right:-.25em;
	}
	.lr-main-body{
		padding:0;
		min-height:590px;
		display:inline-block;
		vertical-align:middle;
		text-align:left;
		white-space:normal;
	}
}
@media (min-width :741px) and (max-height:600px){
	.lr-main{
		height:auto;
		min-height:auto;
	}
}
.lr-header{
	text-align: center;
}
.lr-header .logo {
    margin: 0 auto;
    width: 160px;
    height: 80px;
    background: url(../images/logo.png) no-repeat;
    background-size: contain;
}
@media (max-width: 740px){
	.lr-header .logo {
	    width: 96px;
	    height: 48px;
	    background: url(../images/molibe-logo.png) no-repeat;
	}
}
.lr-header .subtitle {
    margin: 30px 0 20px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1;
    color: #555;
}
.sign-flow{
	text-align: center;
}
.sign-flow .view{
    float: none;
    margin: auto;
    width: 300px;
    text-align: left;
    font-size: 14px;
}
.sign-flow .view .group-inputs {
    padding: 1px 0;
    border: 1px solid #d5d5d5;
    border-radius: 3px;
}
.sign-flow .view .button-wrapper{
	margin-top: 18px;
}
.sign-flow .view .input-wrapper {
    position: relative;
    margin: 0;
    overflow: hidden;
}
.sign-flow .view .input-wrapper+.input-wrapper{
	border-top:1px solid #e8e8e8;
}
.sign-flow .view .input-wrapper input {
	border: 0;
    border-radius: 0;
    box-shadow: none;
    background: #fff;
    padding: 1em .8em;
    width: 100%;
    box-sizing: border-box;
}

.sign-flow .sign-button {
    background: #0f88eb;
    box-shadow: none;
    border: 0;
    border-radius: 3px;
    line-height: 41px;
    color: #fff;
    display: block;
    padding: 0;
    width: 100%;
    font-size: 15px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(0,0,0,.2);
    outline: 0;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.clearfix{
	*zoom:1;
}
.clearfix:before,.clearfix:after{
	display:table;
	content:"";
}
.clearfix:after{
	clear:both;
}
.lr-tab-navs{
	margin-bottom:10px;
	font-size:18px;
	text-align:center;
}
.lr-tab-navs .lr-slider{
	position: relative;
    display: inline-block;
}
.lr-tab-navs .lr-slider .lr-slider-bar{
	position:absolute;
	left:0;
	bottom:0;
	margin:0 .8em;
	width:2.4em;
	height:2px;
	background:#0f88eb;
	-webkit-transition:left .15s ease-in;
	transition:left .15s ease-in;
}
.lr-tab-navs a{
	float:left;
	width:4em;
	line-height:35px;
	opacity:.7;
	-ms-filter:"alpha(Opacity=70)";
	-webkit-transition:opacity .15s,color .15s;
	transition:opacity .15s,color .15s;
	color: #555;
}
.lr-tab-navs a:visited {
	color: #555;
}
.lr-tab-navs a:hover{
	opacity:1;
	-ms-filter:"alpha(Opacity=100)";
	text-decoration:none;
}
.lr-tab-navs a.active{
	opacity:1;
	-ms-filter:"alpha(Opacity=100)";
	color:#0f88eb;
}

#particles-js{
	position:absolute;
	top:0;
	z-index:-1;
	width:100%;
	height:100%
}
#particles-js canvas{
	display:block;
}