*{
  margin: 0;
  padding: 0;
}
html,
body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  background-color: #dedede;
}
a {
    color: #555555;
    text-decoration: none;
}
div{
  display: block;
  outline:medium;
}
input{
  outline: none;
}
button{
  outline: none;
}
*, :after, :before {
    box-sizing: border-box;
}
.container:before, .container:after {
    display: table;
    content: "";
    line-height: 0;
}
.container:after {
    clear: both;
}
.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: black;
    opacity: 0.01;
    display: none;
}
.stack .write-mode{
    background-color: #dedede;
    padding-top: 100px;
    padding-bottom: 130px;
}
.stack .write-mode .main{
    position: relative;
    padding: 20px 0 0 0;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0 auto;
    width: 750px;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.1);
    background-color: white;
}
.stack .note-form{
    width: 100%;
    margin: 0;
    font-size: 16px;
    font-weight: normal;
    line-height: 25px;
}
.stack .note-form .title{
    width: 100%;
    height: 50px;
    padding: 0 30px 10px 40px;
    border:none;
    margin-bottom: 0;
    border-bottom: 1px solid #d9d9d9;
    font-size: 30px;
    font-weight: normal;
    line-height: 30px;
    color: #555;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    box-shadow: none;
    border-radius: 0;
    outline: none;
    -webkit-appearance: none;
    box-sizing: border-box;
}
.stack .note-form .editor-box .toolbar{
    position: fixed;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    list-style-type: none;
    background-color: #dedede;
    border-bottom: 1px solid #d9d9d9;
}
.toolbar:before, .toolbar:after {
    display: table;
    content: "";
    line-height: 0;
}
.toolbar:after {
    clear: both;
}
.toolbar li{
    display: inline-block;
    cursor: pointer;
    text-align: center;
    line-height: 20px;
    list-style-type: none;
}
.toolbar a{
    padding: 11px 14px;
    display: inline-block;
    line-height: 17px;
}
.toolbar a:hover{
  background: #555;
  color: #fff;
}
.toolbar .pull-right{
    float: right;
    display: inline-block;
    cursor: pointer;
    text-align: center;
}
@font-face {
  font-family: iconfont;
  src:  url('../fonts/icomoon.eot?ibrajf');
  src:  url('../fonts/icomoon.eot?ibrajf#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?ibrajf') format('truetype'),
    url('../fonts/icomoon.woff?ibrajf') format('woff'),
    url('../fonts/icomoon.svg?ibrajf#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
.iconfont {
    font-family: iconfont!important;
    font-size: inherit;
    font-style: normal;
    font-weight: 400!important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.ic-bold:before{
  content: "\e90a";
}
.ic-italic:before{
  content: "\e905";
}
.ic-strikethrough:before{
  content: "\e903";
}
.ic-blockquote:before{
  content: "\e902";
}
.ic-img:before{
  content: "\e901";
}
.ic-ol:before{
  content: "\e904";
}
.ic-ul:before{
  content: "\e90c";
}
.ic-link:before{
  content: "\e900";
}
.ic-undo:before{
  content: "\e909";
}
.ic-redo:before{
  content: "\e90b";
}
.ic-send:before{
  content: "\e908"
}
.markdown-body{
  bottom: 0;
  padding: 40px;
  padding-bottom: 0;
  min-height: 338px;
  color: #2f2f2f;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.7;
  overflow-y: auto;
  overflow-x: hidden;
}
.markdown-body p{
  text-align: left;
}
.image-modal{
  position: fixed;
  left: 50%;
  z-index: 1050;
  top: 25%;
  height: 302px;
  width: 412px;
  padding: 20px 30px;
  margin-left: -175px;
  border-radius: 0;
  opacity: 1;
  background-color: white;
  border: 1px solid #d9d9d9;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  box-shadow: 0 3px 7px rgba(0,0,0,0.3);
  background-clip: padding-box;
  outline: none;
  display: none;
}
.image-modal .modal-header{
  padding: 20px;
  background: none;
  border: none;
  text-align: center;
}
.image-modal .modal-body{
  padding: 30px;
  position: relative;
  overflow-y: auto;
  max-height: 400px;
}
.image-modal .modal-body .tab-btn{
  margin-bottom: 10px;
  color: #999999;
}
.image-modal .modal-body .tab-btn .link-btn{
  border-color: transparent;
  cursor: pointer;
  color: #555555;
  border-radius: 0;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
.tab-content>div:not(.active) {
    display: none;
}
.tab-content .tab-pane:before, ..tab-content .tab-paneafter {
    display: table;
    content: "";
    line-height: 0;
}
.tab-content .tab-pane:after{
    clear: both;
}
.tab-content .tab-pane .upload-picture{
  position: relative;
  height: 42px;
  display: block;
  padding: 0 10px;
  margin-bottom: 10px;
  background: #555555;
  overflow: hidden;
  text-align: center;
  line-height: 42px;
  color: white;
}
.tab-content  label{
  position: absolute;
  margin-bottom: 5px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 42px;
  font-size: 14px;
  font-weight: normal;
  background: #555555;
  line-height: 42px;
  z-index: 1;
  display: block;
}
.tab-content .btn-upload-link{
  position: absolute;
  top: -12000px;
  right: 0;
  left: 0;
  height: 30px;
  line-height: 30px;
  width: auto;
}
.tab-content .btn-link{
  float: right;
  padding: 10px;
  border-color: transparent;
  cursor: pointer;
  color: #555555;
  border-radius: 0;
  background-color: #fff;
}
.tab-content label:hover{
  cursor: pointer;
}
.tab-btn a:hover,.tab-content button:hover{
  text-decoration: underline;
  color: #000;
}
.tab-content .input-prepend{
  display: inline-block;
  margin-bottom: 10px;
  vertical-align: middle;
  font-size: 0;
  white-space: nowrap;
}
.tab-content .input-prepend .add-on{
  padding: 9px 12px 12px 12px;
  font-size: 14px;
  width: auto;
  min-width: 16px;
  font-weight: normal;
  text-align: center;
  text-shadow: 0 1px 0 white;
  background-color: #eeeeee;
  border: 1px solid #ccc;
  border-radius: 0;
}
.tab-content .span2{
  width: 253px;
  height: 42px;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 0;
  box-shadow: none;
  border: 1px solid #cccccc;
}
.link-modal{
  position: fixed;
  left: 50%;
  z-index: 1050;
  top: 25%;
  height: 302px;
  width: 412px;
  padding: 20px 30px;
  margin-left: -175px;
  border-radius: 0;
  opacity: 1;
  background-color: white;
  border: 1px solid #d9d9d9;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  box-shadow: 0 3px 7px rgba(0,0,0,0.3);
  background-clip: padding-box;
  outline: none;
  display: none;
}
.link-modal .modal-header{
  padding: 20px;
  background: none;
  border: none;
  text-align: center;
}
.link-modal .modal-body{
  padding: 30px;
  position: relative;
  max-height: 400px;
}
.link-modal .input-prepend{
  display: inline-block;
  margin-bottom: 10px;
  vertical-align: middle;
  font-size: 0;
  white-space: nowrap;
}
.link-modal .input-prepend .link-i{
  padding: 9px 11px 12px 11px;
  font-size: 14px;
  width: auto;
  min-width: 16px;
  font-weight: normal;
  text-align: center;
  text-shadow: 0 1px 0 white;
  background-color: #eeeeee;
  border: 1px solid #ccc;
  border-radius: 0;
}
.link-modal .input-prepend .link-a{
  padding: 9px 13px 12px 13px;
  font-size: 14px;
  width: auto;
  min-width: 16px;
  font-weight: normal;
  text-align: center;
  text-shadow: 0 1px 0 white;
  background-color: #eeeeee;
  border: 1px solid #ccc;
  border-radius: 0;
}
.link-modal .span-link{
  width: 253px;
  height: 42px;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 0;
  box-shadow: none;
  border: 1px solid #cccccc;
}
.link-modal .link-link{
  float: right;
  padding: 10px;
  border-color: transparent;
  cursor: pointer;
  color: #555555;
  border-radius: 0;
  background-color: #fff;
}
button.link-link:hover{
  text-decoration: underline;
  color: #000;
}
.image-package{
  margin: 0 -40px 20px;
  width: calc(100% + 80px);
  text-align: center;
}
.image-package .image-caption{
  min-width: 20%;
  max-width: 80%;
  height: 43px;
  display: inline-block;
  padding: 10px;
  margin: 0 auto;
  border-bottom: 1px solid #d9d9d9;
  font-size: 13px;
  color: #999999;
  line-height: 1.7;
}